{% extends '../basic.html'%}
{%block title%}Tasks | Alcheringa {%endblock%}

{% block style %}
<style>
  html, body {
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  ::-webkit-scrollbar {
    display: none;
    width: 0px;
    height: 0px;
    background: transparent;
  }
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  *::-webkit-scrollbar {
    display: none;
  }
</style>
{% endblock %}

{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/font.css' %}">
<div class="flex pt-16 portal-bg" style="background: #5797CE url('{% static "images/bg (1).png" %}') no-repeat center center / cover fixed; min-height: 100vh;">
        {% include "../navbar.html" %}
        
        <!-- Main Content Layout Container -->
        <div class="flex-1 flex flex-col lg:flex-row gap-8 px-6 md:px-8 pt-3 md:pt-4 pb-6 md:pb-8 max-w-[1400px] w-full overflow-x-hidden">
            <!-- Middle Main Column -->
            <div class="flex-1 space-y-6">
                <!-- Tasks Section -->
                {% include "dashboard/components/tasks.html" %}

                <!-- Mobile Recent Posts (shown only on small screens) -->
                <div class="block lg:hidden">
                    {% include "dashboard/components/recent_posts_for_phone.html" %}
                </div>
            </div>

            <!-- Right Recent Posts Column (With 1px vertical separation line) -->
            <div class="w-full lg:w-80 xl:w-[360px] flex-shrink-0 lg:border-l border-gray-300 lg:pl-8 hidden lg:block">
                <div class="sticky top-20">
                    {% include "dashboard/components/recent_posts_for_pc.html" %}
                </div>
            </div>
        </div>
    </div>
{%endblock%}
{% block script %}
<script>
    const btn = document.querySelector(".mobile");
    const sidebar = document.querySelector(".navbar");
    const arrow = document.querySelector(".side");
    const middle = document.querySelector(".Middle");
    // const alcher = document.querySelector(".Alcher");


    // alcher.addEventListener("click", () => {
    //     sidebar.classList.toggle("-translate-x-full"),
    //         middle.classList.add("sm:mx-96"),
    //         btn.classList.add("invisible")
    // });
    arrow.addEventListener("click", () => {
        middle.classList.remove("sm:mx-96")
        sidebar.classList.toggle("-translate-x-full"),
            btn.classList.remove("invisible")
    })


</script>
{% endblock %}