/* FOOTER */

/* Fonts */
@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: 450;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins-Bold.ttf) format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins-Medium.ttf) format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

/* FOOTER */
.footer {
  font-family: 'Poppins', sans-serif;
  background-color: #222121;
  color: #F8F1E7;
  width: 100%;
}

.footer-top {
  display: flex;
  margin-left: 30px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px 90px;
  padding-left: 70px;
  padding-bottom: 20px;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-section {
  display: flex;
  padding-left: 8px;
  flex-direction: column;
  gap: 16px;
  min-width: 180px;
}

.logo-social {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-social img{
  width: 250px;
  height: auto;
  margin-bottom: 48px;
}

.footer-logo {
  width: 200px;
  height: auto;
  margin-bottom: 100px;
}

.follow-head {
  font-family: 'Poppins';
  font-weight: 600;
  margin-bottom: 8px;
}

.social-icons {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  gap: 55px;
  flex: 2;
}

.section-title {
    font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-underline-offset: 6px;
  margin-bottom: 2px;
}

.links a{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  line-height: 0.65;
  font-weight: 450;
}

.links a:hover {
  text-decoration: underline;
}

.contact {
  gap: 0.32rem;
  display: flex;
  flex-direction: column;
}

.contact-blocks {
  display: flex;
  flex-direction: column;
}

.contact-blocks p {
  margin: 2px 0; 
}

.one {
  margin-bottom: 0.3rem;
}

.contact .contact-phone,
.contact .contact-name{
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 450;
  font-size: 1rem;
  line-height: 1.2;
}

.contact .contact-role{
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  font-size: 0.8rem;
  padding-bottom: 0.15rem;
}

.footer-bottom {
  font-family: 'Poppins', sans-serif;
  border-top: none;
  margin-top: 30px;
  padding: 20px 24px;
  padding-bottom: 50px;
  font-size: 0.6rem;
  text-align: center;
  line-height: 0;
  font-weight: 450;
}


/* RESPONSIVE */
@media screen and (max-width: 600px) {
  .footer {
    align-items: center;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px 20px;
    padding-bottom: 12px;
    gap: 12px;  
  }

  .logo-social {
    align-items: center;
  }

  .logo-social img{
    margin-bottom: 16px;
  }

  .footer-logo {
    width: 160px;
    margin-bottom: 16px;
  }

  .social-icons {
    justify-content: center;
    gap: 16px;
  }

  .footer-right {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 24px;
  }

  .footer-section {
    align-items: center;
    padding-left: 0;
    width: 100%;
    gap: 6px;
  }
  
  .section-title {
    font-size: 1.2rem;
    margin-bottom: 1px;
  }

  .links {
    font-weight: 350;
  }
 
  .links a {
    line-height: 0.9;
    font-weight: 400;
  }

  .contact {
    gap: 0;
  }

  .contact .section-title {
    margin-bottom: 0.15rem;
  }

  .contact .comtact-phone,
  .contact .contact-role {
    font-size: 0.7rem;
    font-weight: 250;
  }

  .contact-blocks {
    align-items: center;
  }

  .one {
    margin-bottom: 0.3rem;
  }

  .footer-bottom {
    font-size: 0.6rem;
    padding: 16px;
    margin-top: 18px;
    padding-bottom:24px;
    padding-top:8px;
    line-height:0;
  }
}

