{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Contact</title>
  <link rel="stylesheet" href="{% static 'css/landingPage_styles.css' %}" />
</head>
<body>
  <div class="mainbox">
    <div class="upper">
      <h2 class="help-heading">Need any help?</h2>
      <div class="contact-btn">Contact Us</div>
    </div>
    <div class="down1">
      <div class="part1 green">
        <img src="{% static 'images/Khushi.png' %}" style="transform: translateY(-10px); display: block; margin: 0 auto; margin-left: 2rem;" alt="Khushi Gupta"/>
        <div class="details1">
          <div class="h">Khushi<br>Gupta</div>
          <div class="p">PR Head</div>
          <div class="ph">+91 98648 75424</div>
          <div class="ph">khushi.g<br>@alcheringa.co.in</div>
        </div>
      </div>
      <div class="part1 blue">
        <img src="{% static 'images/Shashank.png' %}" style="transform: translateY(-10px); display: block; margin: 0 auto; margin-left: 2rem" alt="Shashank Daga"/>
        <div class="details1">
          <div class="h">Shashank<br>Daga</div>
          <div class="p">PR Head</div>
          <div class="ph">+91 82409 50055</div>
          <div class="ph">shashank.d<br>@alcheringa.co.in</div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
