{% load static %}

  <footer class="footer">
    <div class="footer-top">

      <!-- Column 1: Logo + Social -->
      <div class="footer-section logo-social">
         <link rel="stylesheet" type="stylesheet" href="{% static 'css/footer.css' %}">
         <link rel="stylesheet" type="stylesheet" href="{% static 'css/landingPage_styles.css' %}">

        <img src="{% static 'images/alcher-footer-logo.svg' %}" alt="Alcheringa Logo" class="footer-logo" />
        <div class="follows">
          <p class="follow-head">Follow Us</p>
          <div class="social-icons">
            <a href="https://www.instagram.com/alcheringaiitg/"><img src="{% static 'images/insta.svg' %}" alt="Instagram" /></a>
            <a href="https://www.youtube.com/@alcheringaIITG/videos"><img src="{% static 'images/youtube.svg' %}" alt="YouTube" /></a>
            <a href="https://www.facebook.com/alcheringaiitg/"><img src="{% static 'images/facebook.svg' %}" alt="Facebook" /></a>
            <a href="https://www.linkedin.com/company/alcheringaiitguwahati/?originalSubdomain=sg"><img src="{% static 'images/linkedin.svg' %}" alt="LinkedIn" /></a>
            <a href="https://x.com/alcheringaiitg"><img src="{% static 'images/X-logo.svg' %}" alt="X" /></a>
          </div>
        </div>
      </div>

      <div class="footer-right">

        <!-- Column 2: Links -->
        <div class="footer-section links">
          <p style="font-weight:600; font-size:1.4rem;">Links</p>
          <a href="#about">About</a>
          <a href="#responsibility">Responsibilities</a>
          <a href="#testimonials_">Testimonials</a>
          <a href="#faq1">FAQs</a>
          <a href="https://alcheringa.co.in" target="_blank">alcheringa.co.in</a>
        </div>

        <!-- Column 3: Contact -->
        <div class="footer-section contact">
          <p style="font-weight:600; font-size:1.2rem;">Contact</p>
          <div class="contact-blocks one">
            <p class="contact-name">Khushi Gupta</p>
            <p class="contact-role">PR Head</p>
            <p class="contact-phone">+91 98648 75424</p>
          </div>
          <div class="contact-blocks two">
            <p class="contact-name">Shashank Daga</p>
            <p class="contact-role">PR Head</p>
            <p class="contact-phone">+91 82409 50055</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Bottom Footer -->
    <div class="footer-bottom">
      <p>COPYRIGHT © 2025 ALCHERINGA. ALL RIGHTS RESERVED</p>
      <p>Designed by Team Creatives. Developed by Team WebOps.</p>
    </div>
  </footer>

